@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

// SCSS constants

$BasePadding: 1em;
$ColorBlack: hsl(0, 0%, 12%);
$ColorDeepAmethyst: hsl(270, 10%, 60%);
$ColorGreige: hsl(30, 10%, 60%);
$ColorJapaneseViolet: hsl(300, 25%, 25%);
$ColorLilac: hsl(280, 25%, 50%);
$ColorLilacTint: hsl(280, 25%, 75%);
$ColorLilacTone: hsl(280, 25%, 40%);
$ColorLilacShade: hsl(280, 25%, 25%);
$ColorTuscanRed: hsl(0, 25%, 50%);
$ColorTuscanRedTint: hsl(0, 25%, 65%);
$ColorTuscanRedTone: hsl(0, 25%, 40%);
$ColorTuscanRedShade: hsl(0, 25%, 25%);
$LineHeight: 1.5;

// SCSS variables

$ColorLinearBackground: linear-gradient(
  to bottom,
  $ColorTuscanRedShade 0%,
  $ColorBlack 50%,
  $ColorJapaneseViolet 100%
);
$ColorLinearBrand: linear-gradient(
  to bottom,
  $ColorLilac 0%,
  $ColorTuscanRed 75%,
  $ColorTuscanRedTone 100%
);
$ColorLinearHeadingCool: linear-gradient(
  to bottom,
  $ColorLilacTint 0%,
  $ColorLilac 75%,
  $ColorJapaneseViolet 100%
);
$ColorLinearHeadingWarm: linear-gradient(
  to bottom,
  $ColorTuscanRedTint 0%,
  $ColorTuscanRed 25%,
  $ColorTuscanRedShade 100%
);
$ColorTextCool: $ColorDeepAmethyst;
$ColorTextWarm: $ColorGreige;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
}
a {
  display: block;
  color: unset;
  text-decoration: unset;
}
body {
  background: $ColorLinearBackground, $ColorBlack;
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Inter,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  height: 100vh;
  height: 100svh;
  line-height: $LineHeight;
  padding: $BasePadding;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  color: unset;
  line-height: unset;
  display: block;
  text-align: center;
  align-items: unset;
  background-color: unset;
}
blockquote,
button,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
table,
ul {
  border: unset;
  margin: unset;
  padding: unset;
}
