@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

// SCSS constants

$BaseSize: 1rem;
$ColorBlack: hsl(0, 0%, 12%);
$ColorDeepAmethyst: hsl(270, 10%, 60%);
$ColorGreige: hsl(30, 10%, 60%);
$ColorJapaneseViolet: hsl(300, 25%, 25%);
$ColorJapaneseVioletTint: hsl(300, 25%, 50%);
$ColorJapaneseVioletTone: hsl(300, 25%, 20%);
$ColorJapaneseVioletShade: hsl(300, 25%, 12%);
$ColorLilac: hsl(280, 25%, 50%);
$ColorLilacTint: hsl(280, 25%, 75%);
$ColorLilacTone: hsl(280, 25%, 40%);
$ColorLilacShade: hsl(280, 25%, 25%);
$ColorTuscanRed: hsl(0, 25%, 50%);
$ColorTuscanRedTint: hsl(0, 25%, 65%);
$ColorTuscanRedTone: hsl(0, 25%, 40%);
$ColorTuscanRedShade: hsl(0, 25%, 25%);
$LineHeight: 1.5;

// SCSS variables

$ColorLinearBackground: linear-gradient(
  to bottom,
  $ColorTuscanRedShade,
  $ColorBlack 75%,
  $ColorJapaneseVioletTone
);
$ColorLinearBrand: linear-gradient(
  to bottom,
  $ColorLilac,
  $ColorTuscanRed 75%,
  $ColorTuscanRedTone
);
$ColorLinearHeadingCool: linear-gradient(
  to bottom,
  $ColorLilacTint,
  $ColorLilac 75%,
  $ColorJapaneseViolet
);
$ColorLinearHeadingWarm: linear-gradient(
  to bottom,
  $ColorTuscanRedTint,
  $ColorTuscanRed 25%,
  $ColorTuscanRedShade
);
$ColorBorder: $ColorGreige;
$ColorTextCool: $ColorDeepAmethyst;
$ColorTextWarm: $ColorGreige;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
}
a {
  display: block;
  color: unset;
  text-decoration: unset;
}
body {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Inter,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100vh;
  height: 100dvh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  color: unset;
  line-height: unset;
  display: block;
  text-align: center;
  align-items: unset;
  background-color: unset;
}
blockquote,
button,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
table,
ul {
  border: unset;
  margin: unset;
  padding: unset;
}
