@import './base.scss';

@mixin mediaQueryPortrait {
  @media screen and ((orientation: portrait) and (max-width: 640px)) {
    @content;
  }
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: min-content auto min-content / min-content auto;
  grid-auto-flow: column;
  align-items: center;
}
a,
button {
  transition: filter 0.25s linear;
  &:hover {
    filter: $FilterBright;
  }
}
body {
  background-color: $ColorJapaneseVioletShade;
  background-image: $ColorLinearBackground;
  background-repeat: no-repeat;
  line-height: $LineHeight;
  padding-inline: 1.5 * $BaseSize;
  padding-bottom: 1.5 * $BaseSize;
  @include mediaQueryPortrait {
    padding-bottom: 0;
  }
}
html {
  font-size: calc(8px + 0.8vmax + 0.08vmin);
}
