@import './base.scss';

@mixin mediaQueryPortrait {
  @media screen and ((orientation: portrait) and (max-width: 640px)) {
    @content;
  }
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: min-content auto min-content / min-content auto;
  grid-auto-flow: column;
  align-items: center;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: unset;
}
a,
button {
  cursor: unset;
  display: block;
  background: unset;
  color: unset;
  line-height: unset;
  text-align: center;
  text-decoration: unset;
  transition: filter 0.25s linear;
  &:hover {
    filter: $FilterBright;
  }
}
body {
  background-color: $ColorJapaneseVioletShade;
  background-image: $ColorLinearBackground;
  background-repeat: no-repeat;
  line-height: $LineHeight;
  padding-inline: 1.5 * $BaseSize;
  padding-bottom: 1.5 * $BaseSize;
  @include mediaQueryPortrait {
    padding-bottom: 0;
  }
  font-family: 'Noto Sans', Arial, Roboto, sans-serif;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: calc(8px + 0.8vmax + 0.08vmin);
}
blockquote,
button,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ol,
table,
ul {
  border: unset;
  margin: unset;
  padding: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  word-break: break-all;
  word-break: break-word;
}
