@import './base.scss';

#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: min-content auto min-content / min-content auto;
  grid-auto-flow: column;
  justify-items: center;
}
a,
button {
  transition: filter 0.2s linear;
  &:hover {
    filter: brightness(1.5);
  }
}
