@mixin mediaQueryPortrait {
  @media screen and (orientation: portrait) and (max-width: 640px) {
    @content;
  }
}
@mixin colorLinearGradient(
  $color: linear-gradient(to bottom, currentColor, transparent)
) {
  background: $color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
