@use 'sass:color';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play:wght@700&display=swap');

// SCSS constants

$ColorBlack: hsl(0, 0%, 12%);
$ColorDeepAmethyst: hsl(270, 10%, 60%);
$ColorGreige: hsl(30, 10%, 60%);
$ColorJapaneseViolet: hsl(300, 25%, 25%);
$ColorLilac: hsl(280, 25%, 50%);
$ColorLilacTint: hsl(280, 25%, 75%);
$ColorLilacTone: hsl(280, 25%, 40%);
$ColorLilacShade: hsl(280, 25%, 25%);
$ColorTuscanRed: hsl(0, 25%, 50%);
$ColorTuscanRedTint: hsl(0, 25%, 65%);
$ColorTuscanRedTone: hsl(0, 25%, 40%);
$ColorTuscanRedShade: hsl(0, 25%, 25%);
$ColorLinearBrand: linear-gradient(
  to bottom,
  $ColorLilacTint 0%,
  $ColorTuscanRed 75%,
  $ColorTuscanRedTone 100%
);
$ColorLinearHeadingCool: linear-gradient(
  to bottom,
  $ColorLilacTint 0%,
  $ColorLilac 75%,
  $ColorJapaneseViolet 100%
);
$ColorLinearHeadingWarm: linear-gradient(
  to bottom,
  $ColorTuscanRedTint 0%,
  $ColorTuscanRed 25%,
  $ColorTuscanRedShade 100%
);
$ColorLinearBackground: linear-gradient(
  to bottom,
  $ColorTuscanRedShade 0%,
  color.change($ColorTuscanRedShade, $alpha: 0) 50%,
  color.change($ColorJapaneseViolet, $alpha: 0) 50%,
  $ColorJapaneseViolet 100%
);

$LineHeight: 1.5;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 500;
  margin: 0;
}

body {
  background: $ColorBlack;
  color: white;
  font-family:
    'Noto Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: $LineHeight;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
